// <Variables Import
@import "../styles/variables.scss";
// Variables Import>

.container {
  padding: 0 2rem;
  h1 {
    text-align: center;
    margin-top: 4rem;
  }
  .main {
    padding: 4rem;
    max-width: 700px;
    margin: auto;
    .cityName {
      background-color: rgba(255, 255, 255, 0.459);
      color: map-get($colors , Main);
      text-align: center;
      padding: 2rem;
      margin-bottom: 2rem;
      text-transform: capitalize;
      font-size: 1.1rem;
      cursor: pointer;
    }
  }
}